

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 스크롤 방지 */
}

body {
    background-image: url('./startScreen.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: space-between; /* 가로 방향으로 공간 분배 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
}

.payment_btn {
    position: absolute;
    bottom: calc(10% - 50px);
    background-color: #B70050;
    color: white;
    border-radius: 5%;
    /*font-size: 30px;
    padding: 30px 120px;*/
    border: none;
    /*margin-left: 110px;*/
    font-size: 6rem; /* 상대적인 크기 지정 */
    padding: 3rem 5rem;
    left: 50%; /* 가로 중앙 정렬을 위해 왼쪽 위치를 50%로 설정 */
    transform: translateX(-50%); /* 가로 방향으로 -50% 이동하여 가로 중앙 정렬 */
}
