<!DOCTYPE html>
<html>
    <head>
        <title>KIOSK</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "../static/billScreen.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <button type="button" class="next_btn" onclick="location.href='./paymentScreen'">다음 ></button>
        <div class="orderID">
            <b><center>{{ orderID }}</center></b>
        </div>
        <div class="box1">
            <div class="menu1" style="float: left; width: 420px;">
                {{ menu }}
            </div>
            <div class="quantity1" style="float: left; width: 390px;">
                <center>{{ quantitiy }}</center>
            </div>
            <div class="price1" style="float: left; width: 300px; text-align: right;">
                {{ price }}
            </div>
        </div>
        <div class="totalprice" style="text-align: right; width: 250px">
            <b>{{ total }}</b>
        </div>
    </body>
</html>