<!DOCTYPE html>
<html>
    <head>
        <title>KIOSK</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "../static/billScreen.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <button type="button" class="next_btn" onclick="location.href='./paymentScreen'">다음 ></button>
        <div class="orderID" >
            <b><center>{{ billdata[0].orderID }}</center></b>
        </div>
        <div class="bill-container">
            {% for item in billdata %}
            <div class="bill-item">
                <div class="menu1">
                    {{ item.menu }}
                </div>
                <div class="quantity1">
                    <center>{{ item.quantity }}</center>
                </div>
                <div class="price1">
                    {{ item.price }}
                </div>
            </div>
            {% endfor %}
            <div class="h-split"></div>
            <div class="totalprice">
                <div class="totalprice_title" style="float: left";><b>주문합계</b></div>
                <div class="totalprice_price" style="float: right;"><b>{{ total }}</b></div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </body>
</html>

