<!DOCTYPE html>
<html>
    <head>
        <title>KIOSK</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "../static/cardScreen.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--x 버튼 -->
        <button type="back_btn" class="card" onclick="location.href='./paymentScreen'">SELECT</button>
        <!--결제 후 다음 화면 넘어가는 버튼-->
        <button type="next_btn" class="card" onclick="location.href='./completeScreen'">SELECT</button>
    </body>
</html>