<!DOCTYPE html>
<html>
    <head>
        <title>KIOSK</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "../static/completeScreen.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('home') }}"; // 'home'은 시작 페이지의 라우트 이름입니다. 필요에 따라 변경하세요.
        }, 10000); // 10초(10000 밀리초) 후에 리디렉션
    </script>
    </body>
</html>