<!DOCTYPE html>
<html>
    <head>
        <title>KIOSK</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "../static/paymentScreen.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--카드 결제 버튼-->
        <button type="card_btn" class="payment" onclick="location.href='./cardScreen'">SELECT</button>
        <!--카카오페이 결제 버튼-->
        <button type="kakao_btn" class="payment" onclick="location.href='./cardScreen'">SELECT</button>
    </body>
</html>