<!DOCTYPE html>
<html>
<head>
    <title>KIOSK</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/paymentScreen.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- 카드 결제 버튼 -->
    <button type="button" class="card_btn" id="cardBtn"></button>
    <!-- 카카오페이 결제 버튼 -->
    <button type="button" class="kakao_btn" id="kakaoBtn"></button>
    <!-- 팝업 모달 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <!-- 닫기 버튼 -->
            <span class="close" onclick="closeModal()">&times;</span>
            <!-- 이미지를 모달에 추가하고 스타일을 지정 -->
            <img src="" id="popupImage">
        </div>
    </div>

    <div class="totalprice" style="text-align: right; width: 300px">
        <b>{{ total }}</b>
    </div>

    <!-- "다음으로" 버튼 -->
    <button type="button" class="next_btn2" id="nextBtn" style="display: none;" onclick="location.href='./completeScreen'">다음 ></button>

    <script>
        // 모달 열기
        function openModal(imagePath) {
            var modal = document.getElementById("myModal");
            modal.style.display = "block";

            // 이미지를 모달에 추가하고 스타일을 지정
            var popupImage = document.getElementById("popupImage");
            popupImage.src = imagePath;

            // "다음 >" 버튼 표시
            document.getElementById("nextBtn").style.display = "block";
            // 닫기 버튼 표시
            document.querySelector(".close").style.display = "block";
        }

        // 모달 닫기
        function closeModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
            // 닫기 버튼 숨김
            document.querySelector(".close").style.display = "none";
            // 다음 버튼 숨김
            document.getElementById("nextBtn").style.display = "none";
        }

        // 카드 결제 버튼 클릭 시 모달 열고 이미지 표시
        document.getElementById("cardBtn").addEventListener("click", function() {
            // 이미지 경로 설정
            var imagePath = "./static/cardPopup.png";

            // 모달에 이미지 표시
            var popupImage = document.getElementById("popupImage");
            popupImage.src = imagePath;

            openModal(imagePath);
        });

        // 카카오페이 결제 버튼 클릭 시 모달 열고 이미지 표시
        document.getElementById("kakaoBtn").addEventListener("click", function() {
            // 이미지 경로 설정
            var imagePath = "./static/kakaoPopup.png";

            // 모달에 이미지 표시
            var popupImage = document.getElementById("popupImage");
            popupImage.src = imagePath;

            openModal(imagePath);
        });
    </script>
</body>
</html>
